/* Root*/

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 22px;
  width: 100%;
}

/* Header*/
.header_wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #e76c1f;
}

.header_wrapper_inner {
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 48px;
}

.hero_img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hero_wrapper {
  position: relative;
  width: 100%;
}

.bürger_logo {
  width: 200px;
  height: 200px;
  position: absolute; /* Nimmt das Bild aus dem normalen Fluss */
  top: 580px; /* Positioniert das Bild vertikal */
  left: 50%; /* Positioniert das Bild horizontal */
  transform: translate(-50%, -50%); /* Zentriert das Bild */
  z-index: 10; /* Stellt sicher, dass es über den Divs liegt */
  max-width: 100%; /* Bild passt sich Container an */
}
.hero_content {
  display: flex;
  padding-top: 80px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.slogan_orange {
  color: #e76c1f;
  font-size: 48px;
}
.slogan_black {
  font-weight: bold;
  color: black;
  font-size: 48px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10px;
  gap: 5px;
  background-color: #facaac;
  padding: 5px 5px;
}

.star {
  width: 24px;
  height: 24px;
}

.rating_inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating_bewertung {
  color: black;
  font-weight: bold;
}

.rating_anzahl {
  color: grey;
}

.hero_text {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 60px;
}

/* bürger section */

.burger_section {
  width: 100vw;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  margin-top: 30px;
}
.orange_stripe {
  margin-left: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  width: calc(100vw - 22px);
  height: 60px;
  background-color: #e76c1f;
  display: flex;
  align-items: center;
}
.orange_stripe_img {
  margin-bottom: 35px;
  object-fit: contain;
  z-index: 2;
  width: 300px;
  height: 146px;
  padding-bottom: 10px;
}

.orange_stripe_img_burger {
  margin-bottom: 30px;
  object-fit: contain;
  z-index: 2;
  width: 300px;
  height: 140px;
  padding-bottom: 10px;
}

.orange_stripe_img_sald {
  margin-bottom: 29px;
  object-fit: contain;
  z-index: 2;
  width: 300px;
  height: 140px;
  padding-bottom: 10px;
}

.orange_stripe_slogan {
  z-index: 2;
  color: white;
  font-size: 40px;
}

/* Pizza section */
.pizza_section {
  width: 100vw;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
}

/* salat section */

.salad_section {
  width: 100vw;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 90px;
  background-color: white;
  display: flex;
  margin-top: 30px;
}

/* Meal */
.content_wrapper {
  display: flex;
  gap: 2px;
}

.content_section {
  width: calc(100% - 308px);
  padding: 0 16px 16px 0px;
}

.content {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 10px;
  background-color: #fdeadc;
  border-radius: 10px;
  gap: 10px;
  margin-bottom: 15px;
  margin-left: 16px;
}

.meal_card_img {
  width: 207px;
  height: 121px;
  border-radius: 10px;
  object-fit: cover;
}

.meal_card_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.meal_card_content_left {
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 24px;
}

.meal_card_content_left_span {
  font-size: 16px;
}

.meal_card_content_right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal_card_content_right_price {
  display: flex;
  align-items: start;
  justify-content: end;
  font-size: 24px;
  font-weight: bold;
}

.meal_card_content_btn {
  display: flex;
  justify-content: space-between;
}

.btn_add_to_basket {
  cursor: pointer;
  width: 115px;
  height: 30px;
  background-color: white;
  border-radius: 45px;
  border: none;
  padding: 5px 5px 5px 5px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.btn {
  cursor: pointer;
  background-color: white;
  border-radius: 45px;
  border: none;
  padding: 5px 5px 5px 5px;
  color: #e76c1f;
  font-size: 16px;
}

.btn_plus {
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: #e76c1f;
  font-size: 16px;
}

.Menu_bottom_wrapper {
  z-index: 11;
  display: none;
  position: sticky;
  bottom: 0;
}

.Menu_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #363534;
  height: 78px;
  padding-left: 50px;
  padding-right: 50px;
}

.Menu_bottom_img {
  width: 30px;
  height: 30px;
}

/* footer */

.footer_wrapper {
  background-color: #e76c1f;
  height: 128px;
  display: flex;
  justify-content: center;
}

.footer_content {
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer_content_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
}

/* responsiv */

@media (max-width: 1068px) {
  .hero_text {
    font-size: 16px;
    text-align: center;
  }
  .orange_stripe {
    display: flex;
    justify-content: center;
  }
  .orange_stripe_slogan {
    display: none;
  }
  .content_section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 0;
  }
  .content {
    margin-left: 0;
  }
  .Menu_bottom_wrapper {
    display: block;
  }
}

@media (max-width: 623px) {
  .header_wrapper_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero_text {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero_content {
    display: flex;
    padding-top: 80px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .orange_stripe_img {
    width: 250px;
  }
  .orange_stripe_img_burger {
    width: 250px;
  }
  .orange_stripe_img_sald {
    width: 250px;
  }
  .content {
    display: block;
    justify-content: flex-start;
  }

  h4 {
    font-size: 19px;
  }
  .footer_content {
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
