.basket_wrapper {
  width: 300px;
  flex-grow: 1;

  padding: 16px;
  background-color: #363534;
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%;
}

.basket {
  width: 100%;
  height: 400px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 32px;
  color: #fdeadc;
  padding-top: 30px;
  padding-bottom: 20px;
}
.basket_card {
  background-color: #fdeadc;
  border-radius: 15px;
}

.basked_text {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.basket_icon_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.basked_delet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
