.basket_wrapper {
  width: 300px;
  flex-grow: 1;

  padding: 16px;
  background-color: #363534;
  border-top-left-radius: 8%;
  border-bottom-left-radius: 8%;
}

.basket {
  width: 100%;

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 32px;
  color: #fdeadc;
  padding-top: 30px;
  padding-bottom: 20px;
}
.basket_card {
  background-color: #fdeadc;
  border-radius: 15px;
  margin-bottom: 10px;
}

.basked_text {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.basket_icon_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.basked_delet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.busket_subtotal {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  gap: 100px;
  padding-bottom: 10px;
}

.busket_delivery_fee {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  gap: 100px;
  padding-bottom: 20px;
}

.line {
  border: 2px solid white;
  margin-bottom: 10px;
}

.busket_total_price {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  gap: 100px;
  padding-bottom: 20px;
}

.busket_buy_now {
  display: flex;
  justify-content: center;
}

.btn_buy_now {
  width: 250px;
  height: 64px;
  background-color: #e76c1f;
  color: white;
  font-weight: bold;
  font-size: 28px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  margin-bottom: 10px;
}
